<div class="main-wrapper animate__animated animate__fadeIn">

    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container single-col-max-width">
            <header class="blog-post-header">
                <h2 class="title mb-2">Como Obtener libertad financiera antes de los 25 años</h2>
                <div class="meta mb-3"><span class="date">publicado hace {{numeroDiasPost1}} dia</span><span class="time">5 min lectura</span><span class="comment"></span></div>
            </header>

            <div class="blog-post-body">
                <figure class="blog-banner">
                    <a href="https://made4dev.com/"><img class="img-fluid" src="assets/images/blog/cat1.jpg" alt="image"></a>
                    <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="https://pixabay.com/es/photos/gatito-lindo-gato-blanco-1285341" target="_blank">pixabay.com</a></figcaption>
                </figure>
                <p>¿Alguna vez han sido victimas de titulos falsos en videos o publicaciones?
                    <br>Lamento hacer algo parecido en esta publicación, chicos tengo 23 años por el momento no tengo esa receta secreta que todos buscan.
                    <br><br> De lo que si me gustaria hablar es de lo dificil que es empezar a escribir un Blog, demonios! ahora admiro a las personas que estan alli afuera escribiendo cosas.

                    <br><br>Dicen que escribir buen contenido es difícil pero no imposible, en fin este es mi intento de escribir un blog.
                    <br><br> Te agradezco que hallas llegado a este punto y si no lo leiste todo al menos te dejo la imagen del gato de arriba. Happy Coding! </div>
            <!--//main-wrapper-->