<div class="main-wrapper animate__animated animate__fadeIn">
    <section class="cta-section theme-bg-light py-5">
        <div class="container single-col-max-width">
            <h2 class="heading text-center">Proyecto web Mean Stack Javascript</h2>
            <div class="project-intro text-center">
                <p class="mb-0 lead">La finalidad de este proyecto era aprender el desarrollo de una web con puras tecnologias Javascript.</p>
            </div>

        </div>
        <!--//container-->
    </section>
    <section class="project px-3 py-5 p-md-5">
        <div class="container">
            <div class="project-meta media flex-column flex-md-row p-4 theme-bg-light">
                <img class="project-thumb mb-3 mb-md-0 mr-md-5 rounded d-none d-md-inline-block" src="assets/images/project/project-2.jpg" alt="">
                <div class="media-body">
                    <div class="client-info">
                        <h3 class="client-name font-weight-bold mb-4">Client Name</h3>
                        <ul class="client-meta list-unstyled">
                            <li class="mb-2"><i class="fas fa-industry fa-fw mr-2"></i><strong>Industry:</strong> Tech</li>
                            <!-- <li class="mb-2"><i class="fas fa-users fa-fw mr-2"></i><strong>Size:</strong> 100+</li> -->
                            <li class="mb-2"><strong><i class="fas fa-link fa-fw mr-2"></i>Website:</strong> <a class="theme-link"> xxxx </a></li>

                        </ul>
                        <div class="client-bio mb-4">La apliacion web esta pensada para llevar la gestion de un consultorio medico.
                            <br> En el sistema puedes dar de alta Doctores, Hospitales, subir imagenes, buscar rapidamente informacion previamente agregada. iniciar sesion con la autentificación de google entre otras cosas.</div>
                        <h4 class="subheading mb-3">Project Requirements</h4>
                        <ul class="mb-0">
                            <li class="mb-2">Crear apliación con el MEAN STACK Javascript.</li>
                            <li class="mb-2">Alta de doctores, Hospitales, subida de imagenes, api de google, JSON WEB TOKEN.</li>
                            <li class="mb-2">Hospedar apliacion (serverlees) con los servicios de Amazon Web Services.</li>
                        </ul>
                    </div>
                </div>
                <!--//media-body-->
            </div>
            <!--//project-meta-->
            <div class="project-sections py-5">
                <div class="project-section mb-5">
                    <h3 class="project-section-title mb-3">Objetivo</h3>
                    <p>Mi finalidad de esto era Aprender el MEAN STACK Javascript con el desarrollo de esta apliación WEB, el tiempo aproximado que me tomo aprender y desarrollar esto fue de 25 dias y estoy muy contento con los resultados pues al mismo tiempo
                        tambien aprendi a montar desde cero la apliación en AWS esto sin usar un servidor (serverlees). </p>
                </div>
                <!--//project-section-->

                <div class="project-section mb-5">
                    <h3 class="project-section-title">Desarrollo</h3>
                    <p>Hablando de cosas tecnicas es complicado acostumbrarte a programar un back end con solo javascript en este caso usar node.js con express.js fue un poco raro al principio, esto por el echo de que vengo de asp.net donde para cualquier
                        cosa tienes el "intellisense de microsoft".
                        <br>El usar una base de datos no realacional como Mongo DB le agrega un extra de dificultad.
                        <br><br> Algo interesante de la actividad es que al finalizarla hice el despliegue en un servicio de amazon web serivices llamado S3 donde no necesito un servidor para hospedar el sitio (serverlees)
                    </p>

                </div>
                <!--//project-section-->

                <div class="project-section mb-5">
                    <h3 class="project-section-title">Resultado</h3>
                    <p>Al finalizar la actividad tengo ya mi sito funcional, en el puedes hacer distintas cosas antes ya mencionadas,
                        <br>sin duda se pueden agregar mejoras y nuevos modulos, pero para la finalidad de la practica estoy mas que satisfecho.
                    </p>
                    <div class="row mt-5">


                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/c1.PNG" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/a-1.PNG" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/F3.png" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/F4.png" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/B1.png" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/B2.png" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/S1.png" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/F2.png" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/S2.png" alt="image">
                        </div>
                        <div class="col-12 col-lg-6 mb-5">
                            <img class="img-fluid rounded" src="assets/images/project/backend-post1/a1.PNG" alt="image">
                        </div>


                    </div>

                    <p>Como podras observar en las imagenes mi back-end lo monte en una instancia de windows server 2016, Asi como la base de datos.
                        <br> El front-end esta el servicio de S3 de AWS. OJO - Esto no es lo mas viable pero como dije antes era solo una prueba para ver como se comportaba.
                        <br> En fin hasta aqui llego el proyecto, fue divertido, estresante y lo odie hasta cierto punto pero al final queda pura sastifacción. Happy coding! </p>

                </div>
            </div>
        </div>
    </section>

    <section class="promo-section theme-bg-light py-5 text-center">
        <div class="container single-col-max-width">
            <h2 class="title">¿Quieres que te ayude con tu proyecto?</h2>
            <p>Mandame un mensaje!</p>
            <div class="text-center"><a class="btn btn-primary" href="https://api.whatsapp.com/send?phone=5216441451840&text=Hola%20Daniel!%20estuve%20viendo%20tu%20sitio%20web%20y%20me%20gustar%C3%ADa%20platicarte%20sobre%20...." target="_blank"><i class="fas fa-paper-plane mr-2"></i>Contactame</a></div>
        </div>
        <!--//container-->
    </section>
    <!--//promo-section-->
</div>
<!--//main-wrapper-->